* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px 40px;
    font-family: open-sans-condensed, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #000;
}